<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
	  <add key="BaseUrl" value="https://gorest.co.in/public-api/" />
	  <add key="BearerToken" value="MGJmN2ZiNTZlNmEyN2NiY2FkYzQwMmZjMmZjZThlM2FhOWFjMmI0MGQ0MTkwNjk4ZWI0ZThkZjkyODRlMjAyMw=="/>
    <add key="FileSavePath" value="D:\Export\EmployeeManagementCSV\" />
  </appSettings>
</configuration>
